@import './reset.styl'
@import './components/cabecalho.styl'
@import './components/inicio.styl'
@import './components/btnSaiba.styl'
@import './components/waves.styl'
@import './components/apresentacao.styl'
@import './components/titulos-section.styl'
@import './components/servicos.styl'
@import './components/projetos.styl'
@import './components/rodaPe.styl'