.desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

        .descricao-servicos {
            display: flex;
            padding: 5%

                h4 {
                    font-size: 1.5em;
                }

        }

        .site img {
            margin-right: 10px;
        }
}

@media(max-width: 940px) {
    .descricao-servicos, descApp {
        flex-wrap: wrap;
        justify-content: center;
    }

    .descApp {
        flex-wrap: wrap-reverse;
    }
    
}  