footer {
    padding: 10px
    text-align center
    background-color: #7b7b7b;
    color: #fff;

        a {
            text-decoration: none;
        }
        
        a:first-child {
            color: #008000;
        }
}